.irrelevant {
  /*-webkit-filter: grayscale(100%);*/
  filter: grayscale(100%) brightness(95%);
}

.enabled {
  background-color: var(--bg-gray);
}

  .enabled:hover {
    background-color: var(--bg-gray-hov);
  }

.active {
  background-color: #fdf6c9;
}

.blasted {
  background-color: #efcd9780;
}

  .blasted:hover {
    background-color: #ecac7396;
  }

.grid-cell {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  border: none;
  border-right: 1px solid var(--bg-gray-sec-hov);
  border-bottom: 1px solid var(--bg-gray-sec-hov);
  cursor: pointer;
  box-sizing: border-box;
}

.cell-bounds {
  padding: 0;
  margin: 0;
}
