.switch-button {
  display: inline-block;
  width: 100px;
  height: 35px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 0;
  position: relative;
  cursor: pointer;
}

  .switch-button.off {
    background-color: #e0e0e0;
    text-align: left;
  }

  .switch-button.on {
    background-color: #87cefa;
    text-align: right;
  }
