#restart-cont {
  width: 100%;
  height: 50px;
  margin: 20px 0px;
  padding: 0;
}

#restart {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #bbbbbb;
  display: block;
}

  #restart:hover {
    background-color: #dddddd;
  }
