<div id="inputs">
  <input-num-strict [data]="getInpMunElemByName('width')"></input-num-strict>
  <input-num-strict [data]="getInpMunElemByName('height')"></input-num-strict>
  <input-num-strict [data]="getInpMunElemByName('inRow')"></input-num-strict>

  <hr/>

  <div id="symb-q">
    <switchable-option [initState]="queueVisibleInit" [labelText]="'Show queue'" (switchEvent)="switchQueueVisibility($event)"></switchable-option>
    @if (queueVisible) {
    <div id="queues">
      @for (player of players; track player) {
      <symbol-queue [gridId]="gridId" [player]="player"></symbol-queue>
      }
    </div>
    }
    </div>

  <hr/>

  <div id="gamemode">
    <switchable-option [labelText]="'Enhanced mode'" (switchEvent)="switchGamemode($event)"></switchable-option>
    @if (isEnhanced) {
    <p>funguje</p>
    }
  </div>
</div>
